$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import 'sass-bootstrap/lib/bootstrap';
$color1: rgb(147,107,232);
$color2: rgb(127,111,225);
$color3: rgb(90,103,232);

$nearblack: #111;
$graydark: #444;
$graylight:#888;
$grass: #64B66A;

path {
  fill: #333;
  fill-opacity: 0;
  stroke: #555;
  stroke-width: 0.5px;
  }

.div-icon {
	border-radius: 30px;
	width: 30px;
	height: 30px;
	border-color: lighten(rgba(0,0,177,0.1), 30%);
	background-color: rgba(0,0,177,0.2);
  }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  }

body {
  font-family: 'Montserrat', sans-serif;
  }
a {
	border:none;
	border-radius:none;
	text-decoration: none;
  }
a:hover {
	text-decoration: none;
  }

#map{
	width:100%;
	height:100%;
	position:fixed;
	z-index:1;
  }

#map-overlay{
	width:100%;
	height:100%;
	background:transparentize($color1,0.4);
	z-index:3;
	position:absolute;
	top:0px;
	left:0px;
  }

#narrative{
  position: absolute;
	z-index:5;
	background-color: white;
  width:50%;
  left:15%;
  top:42px;
  border-radius: 3px;
  font-size:1.2em;
  }

#cross-hair {
  position: fixed;
  top:50%;
  left:50%;
  z-index:1;
  line-height:0;
  margin: -2px 0px 0px -5px;
  font-size: 1.2em;
  }

#cross-hair.hide {
  display:none!important;
  }

.control {
  a {
    position:absolute;
    bottom:0;
    width:43%;
    height:40px;
    padding:2%;
    margin:2%;
    overflow:hidden;
    letter-spacing: 1px;
    background:$nearblack;
    color:white;
    border-radius:3px;
    text-transform: uppercase;
    z-index:3;
    }
  a:hover {color:white;}
  a#manual-map:hover {background:darken($grass,10%);}
  a#manual-map,
  a.select-style {
    right:0;
    background:darken($grass,20%);
    }
  a#view-map,
  a#back-button {
    left:0;
    }
  }

.control-light {
  position:absolute;
  width:25px;
  height:25px;
  padding:1px 1px 0;
  left: 10px;
  top:70px;
  background: white;
  color:$grass;
  border: 1px solid $grass;
  border-radius: 3px;
  text-align: center;
  z-index: 5;
  }
.control-light:hover {color:$grass;}

.language{
    line-height:25px;
    top:104px;
}
.autolocate > i {
    padding-top: 5px;
}
.locate-callout.control-light {
    left: 49px;
    width: 140px;
}
.locate-callout .arrow {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #64b66a;
    margin-left: -12px;
    margin-top: -18px;
}

#control {.logo {margin-right:5px;}}

// #back-button,.select-style {display: none;}


.select-style select {
  width:100%;
  padding-left:5%;
  margin-top:-1.5%;
  border:none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  z-index:4;
  color:white;
  }
.select-style:before {
  content:'▼';
  display:block;
  position:absolute;
  font-size:0.8em;
  top:30%;
  left:3%;
  }

#content .logo {
  float:left;
  margin-right:6px;
}

.current-location {
  left: 16px;
  width: 10px;
  height: 10px;
  background-image: none;
  border-radius: 10px;
  background-color: rgba(153,153,153,0.7);
  }
.dest-location {
  background-image: none;
  border-radius: 50%;
  background-color: rgba(86,194,98,0.7);
  }

.mapbox-control-info {
  bottom: 108px;
  right:215px;
  }

.about-link {
  position: absolute;
  bottom: 121px;
  right: 20px;
  z-index: 1;
  text-transform: uppercase;
  font-weight:bold;
  font-size:10px;
  a {
    color:$graydark;
    }
    a:hover {
      color:$graylight;
      }
  }
.about-link.dari {
    right:45px;
    font-size:15px!important;
}
.about-link .report {
    margin-right:10px;
}

.about-link.dari .report {
    float:left;
    margin-right:25px;
}

/* Leaflet items */

.leaflet-top.leaflet-right {
    right:auto!important;
}

.leaflet-control-grid.map-tooltip {
    left:45px;
    max-width:450px;
    padding: 5px;
}

.tooltip-en .tooltip-location{
    float:left;
}
.tooltip-en .tooltip-status{
    float:left;
    margin-left:10px;
}

.tooltip-dr .tooltip-location {
    float:right!important;
    margin-left:10px;
    direction: rtl;
}
.tooltip-dr .tooltip-status {
    float: right!important;
    direction: rtl;
}


/* About Page */
#content .about h1.title {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    color: #333;
    margin-bottom: 30px;
}
#content h1,
#content h2,
#content h3,
#content a {
    font-family: 'Montserrat', sans-serif;

    letter-spacing:1px;
}
#content h2 {
    margin: 30px 0 15px 0px;
    font-size: 28px;
}
#content h3 {
    margin: 30px 0 15px 0px;
}
#content h2, h3 {
    color: #555;
}
#content p {
    font-family: 'Montserrat', sans-serif;
}
#content p.intro {
    padding: 20px;
    background: #F4f4f4;
    border: 1px solid #ddd;
}
#content .last {
    border-bottom: 1px solid #ddd;
    padding-bottom: 31px;
}
#content .logo {
    margin-top: 7px;
}
#content {
    width: 55%;
    position: relative;
    margin: 0 auto;
    padding: 30px 50px;
    background: #f8f8f8;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#content .dari {
    direction: rtl!important;
}

@media only screen and (max-width: 1000px) {
   #content{
     overflow-x:hidden;
     width: auto;
   }
   .mapbox-control-info {
     bottom: 88px;
     right:205px;
     }

   .about-link {
     position: absolute;
     bottom: 100px;
     right: 10px;
   }
}

.logo-p {
    display: inline-block;
    margin: 0 0 0 7px;
}

.logo-img {
    width: 48px;
}
